{
  "extends": "standard",
  "env": {
    "node": true,
    "mocha": true,
  },
  "parserOptions": {
  },
  "globals": {
  },
  "rules": {
    "object-curly-spacing": [2, "always"],
    "object-shorthand": 2,
    "prefer-template": 2,
    "semi": [2, "always", {"omitLastInOneLineBlock": true}],
    "space-before-function-paren": [2, "never"],
    "standard/object-curly-even-spacing": 0
  }
}
