.docs
.eslintrc
.github
.istanbul.yml
.jshintrc
.travis.yml
.vscode
appveyor.yml
AUTHORS.md
changelog.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
examples/
Gruntfile.js
PUBLISHING.md
test/
test-config.json
UPGRADE_GUIDE.md
changelog.md
.DS_Store

# MIRRORED FROM .gitignore PLEASE MAINTAIN
build/
node_modules
npm-debug.log
coverage
.mailmap
package-lock.json
