arduinoTest/
examples/
hwtest/
sandbox/
test/
test_mocks/
.jshintrc
.travis.yml
AUTHORS
appveyor.yml
changelog.md
Gruntfile.js
publish-binaries.md

# MIRRORED FROM .gitignore PLEASE MAINTAIN
.lock-wscript
*.node
.DS_Store
build/
node_modules
npm-debug.log
Makefile.gyp
*.Makefile
*.target.gyp.mk
out
gyp-mac-tool
.node_pre_gyprc
/.idea
*.node