.docs
.DS_Store
.eslintrc
.github
.istanbul.yml
.jsdoc.json
.jshintrc
.travis.yml
.vscode
appveyor.yml
AUTHORS.md
bin/write-a-lot.js
changelog.md
changelog.md
CODE_OF_CONDUCT.md
codecov.yml
CONTRIBUTING.md
docs
examples/
Gruntfile.js
PUBLISHING.md
test-config.json
test/
UPGRADE_GUIDE.md

# MIRRORED FROM .gitignore PLEASE MAINTAIN
.mailmap
build/
coverage
node_modules
npm-debug.log
package-lock.json
prebuilds
