{
  "branches": [
    "main",
    "next"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "prebuilds",
            "name": "prebuilds.zip",
            "label": "Binary modules included in the npm package"
          }
        ]
      }
    ]
  ]
}
