name: Build
on:
  push:
    tags:
    - '@serialport/bindings@[1-9]+.[0-9]+.[0-9]+'
    - 'force-build'
jobs:
  test:
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          # arch isn't used and we have no way to use it currently
          - { os: macos-latest, arch: x64 }
          - { os: ubuntu-latest, arch: x64 }
          - { os: windows-latest, arch: x64 }
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 14.x
    - run: npm ci
    - run: npm run prebuild
      env:
        prebuild_upload: ${{ secrets.GITHUB_TOKEN }}
