name: Test / Lint
on:
  push:
  pull_request:
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16.x
    - run: npm ci
    - run: npm run lint
    - run: npm run typecheck
  test:
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        config:
          # arch isn't used and we have no way to use it currently
          - { os: macos-latest, arch: x64 }
          - { os: ubuntu-latest, arch: x64 }
          - { os: windows-2019, arch: x64 }
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run rebuild
    - run: npm test
    - uses: codecov/codecov-action@v3
      with:
        directory: ./coverage/
