name: Test / Lint
on:
  push:
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 16.x
    - run: npm ci
    - run: npm run lint
    - run: npm run typecheck
  test:
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        config:
          # arch isn't used and we have no way to use it currently
          - { os: macos-latest, arch: x64 }
          - { os: ubuntu-latest, arch: x64 }
          - { os: windows-latest, arch: x64 }
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run rebuild
    - run: npm test
    - run: npm run coverage
      env:
        CI: true
